:host {
  display: block;
  width: 285px;
  height: 445px;
  position: relative;
  background: #F4F5F7;
  &:hover .card-hover {
    opacity: 1;
  }
}

.card-img {
  width: 100%;
  height: 300px;
}

.card-info {
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}

.card-info_price {
  font-size: 20px;
  font-weight: 600;
  color: "#3a3a3a";
}

.card-info_discound {
  color: var(--light-silver-color);
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}

.card-hover {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  transition: all 0.3s;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.card-hover__links {
  display: flex;
  gap: 20px;
  a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    color: var(--light-color);
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s;
    cursor: pointer;
  }
  a:hover {
    border-bottom: 1px solid var(--light-color);
  }
}

.card-discound {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red-color);
  color: var(--light-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 25px;
  right: 25px;
}

.price {
  display: flex;
  justify-content: space-between;
}
